.header__logo {
    max-width: 142px;
    height: 33px;
    margin: 45px 0 41px 0;
}

@media screen and (max-width: 1060px) {
    .header__logo {
        margin: 24px 0 26px 27px;
        max-width: 104px;
    }
}