.element__trash-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  display: block;
}

.element__trash-button:hover {
  opacity: 0.6;
}
