.form__input_password {
  border: none;
  border-bottom: 2px solid #cccccc;
  background-color: transparent;
  margin: 0 0 216px 0;
  padding: 0 0 8px 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.form__input_password::placeholder {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
}

.form__input_password:focus {
  outline: none;
}

@media screen and (max-width: 400px) {
  .form__input_password {
    margin-bottom: 172px;
  }
}
