.form__error {
    display: none;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #ff0000;
    min-height: 24px;
}

.form__error.description-input-error {
    margin-bottom: 19px;
}

.form__error.image-link-input-error {
    margin-bottom: 19px;
}

@media screen and (max-width: 468px) {
    .form__error.description-input-error {
        margin-bottom: 16px;
    }
    .form__error.image-link-input-error {
        margin-bottom: 16px;
    }
}