.form__registration-button {
  width: 100%;
  max-width: 358px;
  height: 50px;
  margin-bottom: 15px;
  padding: 0;
  background: #ffffff;
  outline: none;
  border: none;
  border-radius: 2px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.form__registration-button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 400px) {
  .form__registration-button {
    font-size: 16px;
    line-height: 19px;
    height: 46px;
    margin-bottom: 20px;
  }
}
